<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [4]:
# Nama
x = "Immanuel Nissi"
print("Hello, my name is " + x);

introduction =["Hello, my name is Immanuel Nissi"]
y = introduction
print (y);

Hello, my name is Immanuel Nissi
['Hello, my name is Immanuel Nissi']

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [12]:
# Soal a
a = 4*15/12
print (a);

# Soal b
x = pow(8,1/3)
print (x);

# Soal c
a = 50000/7500
print (int(a))
kembalian = 50000 - (7500*(int(a)))
print (int(kembalian));

5.0
2.0
6
5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [21]:
# Konversi
a = 1000
b = int(a)
print (b, int);

x = 5.25
g = int(x)
print (g , int);

y = 5.0
print (y, float);

z = 1000
print (z, str);

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [26]:
# 1
a = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = a[20:31]
print(substring);

# 2
spasi = a.split()
print("List :", spasi);

# 3
balik = a[::-1]
print(balik);

what a man'
List : ['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [31]:
# Fakultas
Fakultas = ("Kedokteran", "Psikologi", "Ekonomi", "Ilmu Komunikasi & Media Bisnis", "Pariwisata", "Managemen & Bisnis","Kewirausahaan & kemanusiaan",  "Industri Kreatif","Kedokteran gigi", "Teknologi Informasi" )
print ("Jumlah Fakultas: %d" %len(Fakultas))

posisiSift = Fakultas.index("Teknologi Informasi")
print ("Fakultas SIFT ada di nomor :", posisiSift);

Jumlah Fakultas: 10
Fakultas SIFT ada di nomor : 9

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [37]:
# 1
Favorit = ["Bakso", "Mie Ayam", "Sop mami"]

# 2
for makanan in Favorit:
    print(makanan)

# 3
for makanan in Favorit:
    print(f"Aku ingin pesan {makanan}")

# 4
Favorit[2] = "Sop papah"
print ("Aku ingin mengganti pesananku jadi ", Favorit[2]);

Bakso
Mie Ayam
Sop mami
Aku ingin pesan Bakso
Aku ingin pesan Mie Ayam
Aku ingin pesan Sop mami
Aku ingin mengganti pesananku jadi  Sop papah

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [45]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
gabungan =set1.union(set2);
print (gabungan)

# 3
bukti = set1.isdisjoint(set3)
print (bukti)

# 4
buktinya = set4.issubset(set1)
print (buktinya)

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [48]:
# Program Bayar Listrik
def hitung_tarif(penggunaan):
    # Jika penggunaan listrik kurang dari 100 kWh, hitung tarif untuk 100 kWh
    if penggunaan < 100:
        penggunaan = 100

    if penggunaan < 1000:
        tarif = 1000  # Rp1000/kWh
    else:
        tarif = 2000  # Rp2000/kWh
        total = penggunaan * tarif
        total += total * 0.10  # Tambah 10% untuk penggunaan >= 1000 kWh
        return total

    # Hitung total pembayaran
    total = penggunaan * tarif
    return total

# input dari pengguna
try:
    penggunaan_listrik = float(input("Masukkan jumlah penggunaan listrik (kWh): "))

    if penggunaan_listrik < 0:
        raise ValueError("Penggunaan tidak bisa negatif.")

    total_bayar = hitung_tarif(penggunaan_listrik)
    print(f"Total tarif yang harus dibayar: Rp{total_bayar:.2f}")

except ValueError as e:
    print(f"Error: {e}. Mohon masukkan angka yang valid.")

Masukkan jumlah penggunaan listrik (kWh): 100
Total tarif yang harus dibayar: Rp100000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [47]:
# Program Angkot Abdimas UC
def hitung_angkot(jumlah_peserta):
    kapasitas_per_angkot = 10
    # Hitung jumlah angkot yang diperlukan
    jumlah_angkot = (jumlah_peserta // kapasitas_per_angkot)
    if jumlah_peserta % kapasitas_per_angkot > 0:
        jumlah_angkot += 1  # Tambah 1 angkot jika ada sisa penumpang
    return jumlah_angkot

# input dari pengguna
try:
    jumlah_peserta = int(input("Masukkan jumlah peserta: "))

    if jumlah_peserta < 0:
        raise ValueError("Jumlah orang tidak bisa negatif!")

    total_angkot = hitung_angkot(jumlah_peserta)
    print(f"Jumlah angkot yang diperlukan: {total_angkot}")

except ValueError as e:
    print(f"Error: {e}. Mohon masukkan angka yang valid.")

Masukkan jumlah peserta: 12
Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [52]:
import numpy as np
import random

# 1
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])

In [53]:
# 2
hari_sorted = np.sort(hari)
print("Hari yang sudah diurutkan:", hari_sorted)

Hari yang sudah diurutkan: ['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [56]:
# 3
hari_random = random.choice(hari_sorted)
print(f"Selamat hari {hari_random} adalah hari baikmu bulan ini!")

Selamat hari Kamis adalah hari baikmu bulan ini!

In [58]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4 dengan angka random dari 1-6:")
print(matriks)

print("Shape dari matriks:", matriks.shape)
print("Dimensi dari matriks:", matriks.ndim)

Matriks 3x4 dengan angka random dari 1-6:
[[5 6 5 3]
 [4 2 2 2]
 [6 4 2 3]]
Shape dari matriks: (3, 4)
Dimensi dari matriks: 2

In [59]:
# 5
matrix_example = np.array([[1, 2, 3, 4],
                            [5, 6, 7, 8],
                            [9, 10, 11, 12]])
kolom_ketiga = matrix_example[:, 2]  # Mengambil kolom ketiga (indeks 2)
print("Elemen kolom ketiga dari matriks:")
print(kolom_ketiga)

Elemen kolom ketiga dari matriks:
[ 3  7 11]

In [60]:
# 6
matriks_reshaped = matrix_example.reshape(2, 6)
print("Matriks setelah direshape menjadi (2, 6):")
print(matriks_reshaped)

Matriks setelah direshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [65]:
import pandas as pd

# 1
datanya = ["Information", "Systems", "for", "Business"]
series = pd.Series(datanya)
print("Pandas Series:")
print(series)


# 2
isi_data = { "brand": "Ford", "model": "Mustang", "year": 1964 }
dataframe = pd.DataFrame([isi_data])
print("\nPandas DataFrame:")
print(dataframe)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [68]:
# 3
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls'
dataset = pd.read_csv(url)
print(dataset)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [70]:
# 4
kota = dataset['State'].unique()
print (kota)

['New York' 'California' 'Florida']

In [72]:
# 5
dataset_random = dataset.sample(n=10, random_state=1)
print("5 baris pertama")
print(dataset_random.head())

5 baris pertama
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [74]:
# 6
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [77]:
# 7
california_data = dataset[dataset['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("Data 'R&D Spend' dan 'Marketing Spend' dari California:")
print(california_data)

Data 'R&D Spend' dan 'Marketing Spend' dari California:
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [78]:
# 8
missing_values = california_data.isnull().sum()
print("\nMissing values di setiap kolom:")
print(missing_values)

Missing values di setiap kolom:
R&D Spend          0
Marketing Spend    0
dtype: int64

In [79]:
# 9
filtered_data = dataset[dataset['Profit'] >= 50000]

In [80]:
# 10
sorted_data = filtered_data.sort_values(by='Marketing Spend', ascending=False)
print("\nData yang sudah difilter dan diurutkan berdasarkan 'Marketing Spend':")
print(sorted_data[['R&D Spend', 'Marketing Spend', 'Profit']].head())

Data yang sudah difilter dan diurutkan berdasarkan 'Marketing Spend':
   R&D Spend  Marketing Spend     Profit
0  165349.20        471784.10  192261.83
1  162597.70        443898.53  191792.06
2  153441.51        407934.54  191050.39
3  144372.41        383199.62  182901.99
4  142107.34        366168.42  166187.94

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [81]:
# 1
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv'
dataset = pd.read_csv(url)
print(dataset)

      No  X1 transaction date  X2 house age  \
0      1             2012.917          32.0
1      2             2012.917          19.5
2      3             2013.583          13.3
3      4             2013.500          13.3
4      5             2012.833           5.0
..   ...                  ...           ...
409  410             2013.000          13.7
410  411             2012.667           5.6
411  412             2013.250          18.8
412  413             2013.000           8.1
413  414             2013.500           6.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                  84.87882                               10
1                                 306.59470                                9
2                                 561.98450                                5
3                                 561.98450                                5
4                                 390.56840                                5
..                                      ...                              ...
409                              4082.01500                                0
410                                90.45606                                9
411                               390.96960                                7
412                               104.81010                                5
413                                90.45606                                9

     X5 latitude  X6 longitude  Y house price of unit area
0       24.98298     121.54024                        37.9
1       24.98034     121.53951                        42.2
2       24.98746     121.54391                        47.3
3       24.98746     121.54391                        54.8
4       24.97937     121.54245                        43.1
..           ...           ...                         ...
409     24.94155     121.50381                        15.4
410     24.97433     121.54310                        50.0
411     24.97923     121.53986                        40.6
412     24.96674     121.54067                        52.5
413     24.97433     121.54310                        63.9

[414 rows x 8 columns]

In [83]:
#2
random_data = dataset.sample(n=10)
print("10 Data random dari dataset:")
print(random_data)

10 Data random dari dataset:
      No  X1 transaction date  X2 house age  \
256  257             2012.667          14.6
182  183             2013.500          13.5
316  317             2013.250          13.3
76    77             2013.583          35.9
352  353             2012.833          18.4
395  396             2012.917          21.2
98    99             2013.417          16.4
340  341             2013.333          33.6
184  185             2012.750          14.1
298  299             2013.333          16.7

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
256                                339.2289                                1
182                               2147.3760                                3
316                                250.6310                                7
76                                 616.4004                                3
352                               2674.9610                                3
395                                512.5487                                4
98                                 289.3248                                5
340                                270.8895                                0
184                               2615.4650                                0
298                               4082.0150                                0

     X5 latitude  X6 longitude  Y house price of unit area
256     24.97519     121.53151                        26.5
182     24.96299     121.51284                        23.6
316     24.96606     121.54297                        42.0
76      24.97723     121.53767                        36.8
352     24.96143     121.50827                        25.7
395     24.97400     121.53842                        42.5
98      24.98203     121.54348                        51.0
340     24.97281     121.53265                        42.9
184     24.95495     121.56174                        21.8
298     24.94155     121.50381                        16.7

In [84]:
# 3
data_description = dataset.describe()
print("\nInformasi data menggunakan describe:")
print(data_description)

Informasi data menggunakan describe:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [90]:
# 4
#dataset = dataset.drop(columns=['No'])
dataset.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station',
                   'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area']

In [89]:
# 5missing_values = dataset.isnull().sum()
print("\nMissing values di setiap kolom:")
print(missing_values)

Missing values di setiap kolom:
R&D Spend          0
Marketing Spend    0
dtype: int64